*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: small;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:20fr 2fr;
}

.container2{
    width:100vw;
    height:70vh;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows:0fr;
}

.container2 p{
    text-align: justify;
    font-size:small ;
}

.container2 section{
    text-align: justify;
    font-size: large ;
}

.container3{
    display: flex;
    flex-wrap: nowrap;
    margin:5%;
    margin-left: 15%;
    margin-right: 10%;
    font-size: small;
}

footer{
    width: 100%;
    bottom: 0;
    position:absolute;
    height: 20px;
    background-color:black;
    text-align: center;
    font-size: smaller;
    color: #fff;
}

header{
    width: 100%;
    top: 0;
    position: relative;
    left: 0;
    height: 75px;
    background-color:black;
    grid-column: auto /span 34;
}

h2{
    text-align: center;
    font-size: 30px;
}

h2 span {
    color: orange;
    font-size: 30px;
}

h5{
    color: #fff;
    font-size: small;
}

.animation{
    width: 500px;
    height: 70%;
    position: relative;
    bottom: 0;
    left: 60%;
    transform: translate(-60%);
    transition: bottom 1s, left 1s;
    top:7%
}

nav ul li a:hover{
    background-color:white;
    color:black;
    box-shadow: 0 0 10px gray;
}

a:visited{
    color:orange;
}

section{
    text-align: justify;
    justify-content: space-between;
    margin: auto;
    width: 75%;
}

span{
    color: orange;
    font-size: 16px;
}

.detail{
    margin-left: 8%;
}

.detail h1{
    font-size: 60px;
    color: #212121;
    margin-bottom: 30px;
    grid-column: auto /span 34;
}

.detail p{
    color: #555;
    line-height: 22px;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.navhome{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

.navhome ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
    
}

.navhome ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size:small;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;

}

.images img{
    height: 60%;
    position:absolute;
    left: 60%;
    transform: translate(-20%);
    transition: bottom 1s, left 1s;
    
}

.aboutnav{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.aboutnav ul li{
    display: inline-block;
    list-style: none;
    margin: 25px 25px; 
    bottom: 0;
}

.aboutnav ul li a:hover{
    background-color:white;
    border-radius: 50%;
}

.aboutp{
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: small;
}

.click a{
    background:none;
    padding: 5px 5px;
    text-decoration: none;
    font-weight:bold;
    color: orange;
}

.icons{
    width: 45px;
}

p{
    text-indent: 1em;
}